<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Multi-Height Grid Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <!--
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
  -->
  <link rel="stylesheet" href="./multi_height_grid.css">




</head>

<body>

  <!-- JJ -->
  <div id="contentBoxApp" ng-app="contentBoxApp">
    <div id="GridCtrl" ng-controller="GridCtrl">

      <div class="toolbar">
        <ul>
          <li><a class="active" href="./index.html">Home</a></li>
          <li><a href="./about/about.html">About</a></li>
          <li><a href="https://tomrigami.tumblr.com">Tumblr Page</a></li>
          <li><a href="./index.html#section01"><span></span>Origami Projects</a></li>
          <li><a href="./link/link.html">Links</a></li>
          <li><a href="./about/critique.html">Critique</a></li>
          <div class="toolbar-item form-field">
            <input type="text" name="filter" placeholder="phrase to filter" ng-model="search" />
          </div>
        </ul>
      </div>
      -->

      <div class="container dynamic-grid">
        <article class="grid-item content-box" ng-repeat="(gridKey, gridItem) in gridItems | filter:filterBySearch">
          <div class="inner">
            <img class="content-box-thumb" src="{{ gridItem.img }}" alt="tech image" />
            <h1 class="content-box-header">
              {{ gridItem.headerText }}
            </h1>
            <p class="content-box-blurb">
              {{ gridItem.blurbText }}
            </p>
            <a class="readmore-link" href="#" ng-click="toggleBlurb($event)">read more</a>
          </div>
        </article><!-- /.content-box -->

      </div><!-- /.dynamic-grid -->
    </div><!-- /#GridCtrl -->
  </div><!-- /#contentBoxApp -->
  <!-- SDG -->
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>

  <script src="./multi_height_grid.js"></script>

</body>

</html>